apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vpa
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: vpa
    repoURL: https://charts.fairwinds.com/stable
    targetRevision: 4.10.1
    helm:
      values: |-
        updater:
          enabled: false
        recommender:
          extraArgs:
            prometheus-address: |
              http://prometheus-operated.monitoring.svc.cluster.local:9090
            storage: prometheus
  destination:
    server: https://kubernetes.default.svc
    namespace: vpa
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vpa-extras
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/k8s-social/gitops.git
    path: manifests/vpa-extras
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: vpa
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
